.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_circle{
    width: 80px;
    height: 80px;
    position: relative;
}
.outer_circle_two{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.inner_circle_two{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E19133;
}
.inner_circle_two #number_two{
    font-weight: 700;
    color: black
}
svg{
    /* transform: translate(-5px, -85px); */
    position: absolute;
    top: -75px;
    bottom: 0;
    left: -5px;
    right:0;
    transform: rotate(-90deg);
}
.circle{
    fill: none;
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: anim 2.5s linear forwards;   
}

@keyframes anim{
    100%{
        stroke-dashoffset: 190;
    }
}
